common/src/main/resources/config/database.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" type="root_element"/>
    <xs:complexType name="root_element">
        <xs:sequence>
            <xs:element type="database_element" name="database" maxOccurs="1" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="database_element">
        <xs:sequence>
            <xs:element type="table_element" name="table" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="table_element">
        <xs:sequence>
            <xs:element type="column_element" name="column" maxOccurs="unbounded" minOccurs="1"/>
            <xs:element type="index_group_element" name="index_group" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="des" use="required"/>
    </xs:complexType>
    <xs:complexType name="column_element">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="column_type" name="type" use="required"/>
        <xs:attribute type="xs:nonNegativeInteger" name="length"/>
        <xs:attribute type="xs:boolean" name="notnull"/>
        <xs:attribute type="xs:string" name="default"/>
        <xs:attribute type="xs:string" name="des" use="required"/>
    </xs:complexType>
    <xs:complexType name="index_group_element">
        <xs:sequence>
            <xs:element type="index_element" name="index" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="index_element" name="unique" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="group_index_element" name="group_index" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="group_index_element">
        <xs:sequence>
            <xs:element type="index_element" name="group_column" maxOccurs="unbounded" minOccurs="2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="index_element">
        <xs:attribute type="xs:string" name="column" use="required"/>
    </xs:complexType>
    <xs:simpleType name="column_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bigint"/>
            <xs:enumeration value="int"/>
            <xs:enumeration value="varchar"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="datetime"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="text"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>